# videos
word_videos/

# Django #
*.log
*.pot
*.pyc
__pycache__

# CNNs #
*.tar

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# pyenv 
.python-version 

# Environments 
py_env/
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 


# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
